p{
  font-size: 14px;
  color: #262626;
}
.section{
  padding-top: 40px;
  padding-bottom: 40px;
}

.main-heading{
  color: rgb(204, 18, 18);
  font-size: 26px; 
}

.underline{
  height: 04px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bg-c-light{
  background-color: #837c7c96;
}

.line-order{
  text-align: left;
  font-size: small;
}

.msg{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  letter-spacing: 0.2rem;
  font-style: italic;
  width: 340px;
  padding: 3px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(5,110,5);
  background-color: #fff;
  border-radius: 5px;
  display: none;
}

.msgAppear{
  display: block;
}

.footer a{
  color: #fff;
  text-decoration: none;
}

.footer a:hover{
  color: pink;
}